.card {
    display: inline-grid;
    transition: transform 0.3s;
    transform: perspective(800px) rotateY(0deg);
    transform-style: preserve-3d;
}

/* .card:hover {
    transform: perspective(800px) rotateY(180deg);
} */

.card > * {
    grid-area: 1 / 1 / 1 / 1;
    width: 208px;
    height: 320px;
    padding: 12px;
    border-radius: 8px;
    backface-visibility: hidden;
  }

.card-front { 
    background: linear-gradient(to bottom right,#0067AC, #FFFFFF);
    color: white;
}
.card-back {
    background-color: #e2e8f0;
    color: black;
    transform: rotateY(180deg);
}